* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url(images/fonts/Gilroy-Bold.ttf) format("truetype"),
    url(images/fonts/Gilroy-ExtraBold.otf) format("opentype");
}
@font-face {
  font-family: "Gilroy light";
  src: url(images/fonts/Gilroy-Light.ttf) format("truetype"),
    url(images/fonts/Gilroy-Light.otf) format("opentype");
}
@font-face {
  font-family: "Gilroy Regular";
  src: url(images/fonts/Gilroy-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy Medium";
  src: url(images/fonts/Gilroy-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Gilroy Black";
  src: url(images/fonts/Gilroy-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Nunito Semi Bold";
  src: url(images/fonts/NunitoSans-SemiBold.ttf) format("truetype");
}

span {
  color: #2c2c2c;
}

body {
  max-width: 100%;
}

nav {
  width: 100%;
  height: 100px;
  background-color: white;
}

.logo {
  display: block;
  position: absolute;
  padding: 0 80px;
  margin-top: 15px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  float: right;
  margin: 25px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 auto;
}

nav ul li a {
  font-family: "Nunito Semi Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  padding: 7px 11px;
  border-radius: 3px;
  color: #828282;
}
/*
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/*  */

a:hover {
  color: #2c2c2c;
  transition: 0.5s;
}

a.active {
  color: #2c2c2c;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.checkbtn {
  font-size: 30px;
  color: #2c2c2c;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* .toggle ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  float: right;
  padding: 0 50px;
  margin: 5px;
}

.sun {
  position: absolute;
  width: 31.94px;
  height: 31.94px;
  left: 1210px;
  top: 121.13px;
}

.btn-toggle {
  position: absolute;
  width: 37.53px;
  height: 37.53px;
  left: 1256.46px;
  top: 117.27px;
  background: none;
  border: none;
}

.moon {
  position: absolute;
  width: 25.55px;
  height: 25.55px;
  left: 1308.45px;
  top: 124.32px;
} */

.container {
  max-width: 100%;
  padding: 0 80px;
  margin: 50px 0;
}

.main-text {
  position: absolute;
  width: 859px;
  height: 472px;

  font-family: "Gilroy Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 49px;
  color: #bdbdbd;
}

.main-text-2 {
  position: absolute;
  width: 904px;
  height: 401px;

  font-family: "Gilroy Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 50px;
  color: #bdbdbd;
}

.email-address {
  color: #2c2c2c;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.developer {
  color: #828282;
}

.designing {
  color: #828282;
}

.my-work {
  color: #2c2c2c;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.say-hello {
  color: #2c2c2c;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.profilePhoto {
  position: absolute;
  width: 250px;
  height: 339px;
  left: 1051px;
  top: 200px;
}

.scrollBtn {
  position: absolute;
  width: 230px;
  height: 29px;
  left: 620px;
  top: 580px;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #828282;
}

.scroll-btn {
  position: absolute;
  width: 201px;
  height: 29px;
  left: 634px;
  top: 580px;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #828282;
}

.liberterra {
  width: 100%;
  height: 596px;
}

.liberterra-mobile {
  position: absolute;
  width: 562px;
  height: 570px;
  left: 110.5px;
  top: 819px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.liberterra-logo {
  position: absolute;
  width: 343px;
  height: 94px;
  left: 930.5px;
  top: 909px;
}

.liberterra-text {
  position: absolute;
  width: 340px;
  height: 87px;
  left: 930.5px;
  top: 1027px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #2c2c2c;
}

.liberterra-text-2 {
  position: absolute;
  width: 231px;
  height: 66px;
  left: 1040px;
  top: 1139px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #2c2c2c;
}

.liberterra-btn {
  position: absolute;
  width: 355px;
  height: 43px;
  left: 920.5px;
  top: 1240px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: right;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.background {
  position: absolute;
  width: 100%;
  height: 596px;
  left: 0px;
  top: 1474px;
  background: #f2f2f2;
}

.sophie-logo {
  position: absolute;
  width: 385.06px;
  height: 41.3px;
  left: 123.16px;
  top: 1601.49px;
}

.sophie-text {
  position: absolute;
  width: 340px;
  height: 87px;
  left: 123.16px;
  top: 1683px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #2c2c2c;
}

.sophie-text-2 {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 123.16px;
  top: 1791px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #2c2c2c;
}

.sophie-btn {
  position: absolute;
  width: 310px;
  height: 43px;
  left: 123.16px;
  top: 1906px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.sophie-screen {
  position: absolute;
  left: 620px;
  top: 1496.69px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.hollerena-laptop {
  position: absolute;
  width: 799px;
  height: 511px;
  left: 33px;
  top: 2184px;
}

.hollerena-logo {
  position: absolute;
  left: 55.85%;
  right: 8.06%;
  top: 75.66%;
  bottom: 18.64%;

  left: 905px;
  top: 2176px;
  border-radius: 0px;
}

.hollerena-text {
  position: absolute;
  width: 389px;
  height: 87px;
  left: 885px;
  top: 2353px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #2c2c2c;
}

.hollerena-text-2 {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 916px;
  top: 2465px;
  padding-left: 95px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #2c2c2c;
}

.hollerena-btn {
  position: absolute;
  width: 365px;
  height: 43px;
  left: 910px;
  top: 2570px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: right;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}
/* projects page */

.rectangle-projects {
  position: absolute;
  background: #f2f2f2;
  width: 100%;
  height: 450px;
  left: 0px;
  top: 786px;
  background-repeat: no-repeat;
}

.case-studies-text-projects {
  position: absolute;
  width: 239px;
  height: 178px;
  left: 135px;
  top: 892.03px;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 89px;
  color: #4f4f4f;
}

.case-study-icon-2 {
  position: absolute;
  left: 75.8%;
  right: 7.8%;
  top: 30.18%;
  bottom: 59.87%;
  height: 286px;
  width: 236px;
  left: 1041px;
  top: 867px;
  border-radius: 0px;
}

.brand-identity {
  position: absolute;
  width: 276px;
  height: 276px;
  left: 135px;
  top: 1323px;
}

.brand-identity-text {
  position: absolute;
  width: 257px;
  height: 178px;
  left: 1020px;
  top: 1372px;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 89px;
  text-align: right;
  color: #4f4f4f;
}

.rectangle-projects-2 {
  position: absolute;
  width: 100%;
  height: 450px;
  left: 0px;
  top: 1686px;
  background: #f2f2f2;
  background-repeat: no-repeat;
}

.websites-text {
  position: absolute;
  width: 291px;
  height: 89px;
  left: 135px;
  top: 1866px;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 89px;
  color: #4f4f4f;
}

.websites-icon {
  position: absolute;
  width: 287px;
  height: 286px;
  left: 990px;
  top: 1767.5px;
}

.illustrations-icon {
  position: absolute;
  left: 9.34%;
  right: 70.8%;
  top: 77.12%;
  bottom: 12.93%;
  height: 286px;
  width: 286px;
  left: 134.46893310546875px;
  top: 2218px;
  border-radius: 0px;
}

.illustrations-text {
  position: absolute;
  width: 387px;
  height: 178px;
  left: 866px;
  top: 2296px;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 89px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #4f4f4f;
}

.case-study-page-mobile-phone {
  position: absolute;
  width: 562px;
  height: 570px;
  left: 110.5px;
  top: 833.9px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.case-study-page-liberterra-logo {
  position: absolute;
  width: 343px;
  height: 94px;
  left: 926.5px;
  top: 923.9px;
}

.product-designer {
  position: absolute;
  width: 340px;
  height: 87px;
  left: 919.5px;
  top: 1041.9px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #2c2c2c;
}

.case-study-page-liberterra-text {
  position: absolute;
  width: 245px;
  height: 66px;
  left: 1020px;
  top: 1154px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #2c2c2c;
}

.case-study-page-liberterra-btn {
  position: absolute;
  width: 365px;
  height: 43px;
  left: 890px;
  top: 1244.9px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: right;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.hollerena-rectangle {
  position: absolute;
  width: 100%;
  height: 596px;
  left: 0px;
  top: 1515.85px;
  background: #f2f2f2;
  background-repeat: no-repeat;
}

.case-studies-hollerena-logo {
  position: absolute;
  left: 2.01%;
  right: 68.89%;
  top: 65.04%;
  bottom: 25.99%;
  height: 212px;
  width: 419px;
  left: 29px;
  top: 1536.90234375px;
  border-radius: 0px;
}

.brand-product-designer {
  position: absolute;
  width: 409.78px;
  height: 87px;
  left: 123px;
  top: 1701.9px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #2c2c2c;
}

.case-study-page-hollerena-text {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 123px;
  top: 1813.9px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #2c2c2c;
}

.case-study-page-btn {
  position: absolute;
  width: 365px;
  height: 43px;
  left: 103px;
  top: 1904.9px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.case-study-page-hollerena-laptop {
  position: absolute;
  left: 460px;
  top: 1517.9px;
}

.brands-page-everblasing-text {
  position: absolute;
  width: 340px;
  height: 174px;
  left: 168.5px;
  top: 863.14px;
  font-family: "Gilroy Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: flex-end;
  color: #2c2c2c;
}

.brands-page-everblasing-text-2 {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 168.5px;
  top: 1050.44px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2c2c2c;
}

.brands-page-everblasing-btn {
  position: absolute;
  width: 303px;
  height: 43px;
  left: 168.5px;
  top: 1157.66px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.brands-page-seth-pixel-text {
  position: absolute;
  width: 340px;
  height: 58px;
  left: 168.5px;
  top: 1938.75px;
  font-family: "Gilroy Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: flex-end;
  color: #2c2c2c;
}

.brands-page-seth-pixel-text-2 {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 168.5px;
  top: 2010.05px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2c2c2c;
}

.ese {
  position: absolute;
  width: 490px;
  height: 490px;
  left: 781.5px;
  top: 805.24px;
}

.brands-page-everblasing-olaa {
  position: absolute;
  width: 100%;
  height: 517.74px;
  left: 0px;
  top: 1337.77px;
  background: #f2f2f2;
  background-repeat: no-repeat;
}

.brands-page-everblasing-olaa-logo {
  position: absolute;
  width: 490px;
  height: 490px;
  left: 168.5px;
  top: 1351.64px;
}

.brands-page-everblasing-olaa-text {
  position: absolute;
  width: 340px;
  height: 58px;
  padding-left: 240px;
  left: 931.5px;
  top: 1475.38px;
  font-family: "Gilroy Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #2c2c2c;
}

.brands-page-everblasing-olaa-text-2 {
  position: absolute;
  width: 380px;
  height: 44px;
  left: 891.5px;
  top: 1546.68px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #2c2c2c;
}

.brands-page-olaa-btn {
  position: absolute;
  width: 303px;
  height: 43px;
  left: 1033.5px;
  top: 1653.66px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.brands-page-seth-pixel-btn {
  position: absolute;
  width: 303px;
  height: 43px;
  left: 168.5px;
  top: 2117.66px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.brands-page-seth-pixel-logo {
  position: absolute;
  width: 490px;
  height: 406.38px;
  left: 781.5px;
  top: 1911.19px;
}

.brands-page-tact-editorial-rectangle {
  position: absolute;
  width: 100%;
  height: 517.74px;
  left: 0px;
  top: 2373.25px;
  background: #f2f2f2;
}

.brands-page-tact-editorial-logo {
  position: absolute;
  width: 668.5px;
  height: 363.91px;
  left: 104.26px;
  top: 2449.98px;
}

.brands-page-tact-editorial-text {
  position: absolute;
  width: 440px;
  height: 58px;
  left: 909px;
  padding-left: 35px;
  top: 2519.85px;
  font-family: "Gilroy Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #2c2c2c;
}

.brands-page-tact-editorial-text-2 {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 869px;
  top: 2591.15px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #2c2c2c;
}

.brands-page-tact-editorial-btn {
  position: absolute;
  width: 303px;
  height: 43px;
  left: 1010px;
  top: 2698.66px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.brands-page-channies-text {
  position: absolute;
  width: 340px;
  height: 58px;
  left: 168.25px;
  top: 3028.59px;
  font-family: "Gilroy Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: flex-end;
  color: #2c2c2c;
}

.brands-page-channies-text-2 {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 168.25px;
  top: 3099.89px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2c2c2c;
}

.brands-page-channies-btn {
  position: absolute;
  width: 303px;
  height: 43px;
  left: 168.5px;
  top: 3206.66px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.brands-page-channies-logo {
  position: absolute;
  width: 490px;
  height: 303.73px;
  left: 781.75px;
  top: 2997.99px;
}

.brands-page-broque-rectangle {
  position: absolute;
  width: 100%;
  height: 517.74px;
  left: 0px;
  top: 3408.99px;
  background: #f2f2f2;
}

.brands-page-broque-logo {
  position: absolute;
  width: 600px;
  height: 237.34px;
  left: 141px;
  top: 3549.18px;
}

.brands-page-broque-text {
  position: absolute;
  width: 340px;
  height: 58px;
  left: 929px;
  padding-left: 180px;
  top: 3555.59px;
  font-family: "Gilroy Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #2c2c2c;
}

.brands-page-broque-text-2 {
  position: absolute;
  width: 380px;
  height: 88px;
  left: 889px;
  top: 3626.89px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #2c2c2c;
}

.brands-page-broque-btn {
  position: absolute;
  width: 303px;
  height: 43px;
  left: 1031.5px;
  top: 3733.66px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.color-me-logo {
  position: absolute;
  width: 361.41px;
  height: 144px;
  left: 115px;
  top: 857.9px;
}

.color-me-text {
  position: absolute;
  width: 402.11px;
  height: 87px;
  left: 115px;
  top: 1040.56px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #2c2c2c;
}

.color-me-text-2 {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 115px;
  top: 1152.56px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #2c2c2c;
}

.website-page-btn {
  position: absolute;
  width: 310px;
  height: 43px;
  left: 115px;
  top: 1243.56px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.color-me-screen {
  position: absolute;
  width: 721.35px;
  height: 550.62px;
  left: 605.32px;
  top: 826.59px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.05));
}

.website-page-sophie-rectangle {
  position: absolute;
  width: 100%;
  height: 596px;
  left: 0px;
  top: 1449.9px;
  background: #f2f2f2;
}

.website-page-sophie {
  position: absolute;
  width: 721.35px;
  height: 550.62px;
  left: 34.97px;
  top: 1472.59px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}

.website-page-sophie-logo {
  position: absolute;
  width: 385.06px;
  height: 41.3px;
  left: 876.23px;
  top: 1577.39px;
}

.website-page-sophie-text {
  position: absolute;
  width: 354.47px;
  height: 87px;
  left: 906.82px;
  top: 1643.9px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #2c2c2c;
}

.website-page-sophie-text-2 {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 881.29px;
  padding-left: 105px;
  top: 1755.9px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #2c2c2c;
}

.website-page-sophie-btn {
  position: absolute;
  width: 310px;
  height: 43px;
  left: 1009.29px;
  top: 1846.9px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.website-page-popper-blog-logo {
  position: absolute;
  width: 162px;
  height: 144px;
  left: 118.6px;
  top: 2180.4px;
}

.website-page-popper-blog-text {
  position: absolute;
  width: 340px;
  height: 87px;
  left: 118.6px;
  top: 2335.4px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #2c2c2c;
}

.website-page-popper-blog-text-2 {
  position: absolute;
  width: 380px;
  height: 66px;
  left: 118.6px;
  top: 2447.4px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #2c2c2c;
}

.website-page-popper-blog-btn {
  position: absolute;
  width: 310px;
  height: 43px;
  left: 110.6px;
  padding-right: 50px;
  top: 2538.4px;
  font-family: "Gilroy Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: right;
  color: #828282;
  text-decoration: underline dotted;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.15em;
}

.website-page-popper-blog-screen {
  position: absolute;
  width: 690px;
  height: 496px;
  left: 634.29px;
  top: 2145.9px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}

.illustrations-page-keanu {
  position: absolute;
  width: 775px;
  height: 435.94px;
  left: 104.53px;
  top: 797.68px;
}

.illustrations-page-akame {
  position: absolute;
  width: 435.94px;
  height: 833px;
  left: 899.53px;
  top: 797.68px;
}

.illustrations-page-stay-home {
  position: absolute;
  width: 377.06px;
  height: 377.06px;
  left: 104.53px;
  top: 1253.62px;
}

.illustrations-page-sophie {
  position: absolute;
  width: 377.06px;
  height: 377.06px;
  left: 502.03px;
  top: 1253.62px;
}

.illustrations-page-curfew-rick {
  position: absolute;
  width: 435.94px;
  height: 891.88px;
  left: 105.95px;
  top: 1650.68px;
}

.illustrations-page-kobe {
  position: absolute;
  width: 775px;
  height: 435.94px;
  left: 560.47px;
  top: 1650.68px;
}

.tk-bad-boy {
  position: absolute;
  width: 387.5px;
  height: 387.5px;
  left: 560.47px;
  top: 2130.84px;
}

.tk-bad-boy-2 {
  position: absolute;
  width: 387.5px;
  height: 387.5px;
  left: 947.97px;
  top: 2130.84px;
}

footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 91px;
  left: 0px;
  top: 2785px;
}

.case-study-footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 91px;
  left: 0px;
  top: 2235px;
}

.brands-footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 91px;
  left: 0px;
  top: 4050px;
}

.websiteFooter {
  position: absolute;
  display: block;
  width: 100%;
  height: 91px;
  left: 0px;
  top: 2700px;
}

.illustrationFooter {
  position: absolute;
  display: block;
  width: 100%;
  height: 91px;
  left: 0px;
  top: 2650px;
}

.contactFooter {
  position: absolute;
  display: block;
  width: 100%;
  height: 91px;
  left: 0px;
  top: 570px;
}

.footer-text {
  position: absolute;
  display: block;
  width: 197px;
  left: 6.01%;
  right: 80.31%;
  top: 19.78%;
  bottom: 52.75%;
  font-family: "Nunito Semi Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #2c2c2c;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  left: 2.6%;
  right: 65.38%;
  top: 51.65%;
  bottom: 20.88%;
}

.behance {
  position: static;
  width: 71px;
  height: 25px;
  left: 10px;
  top: 10px;
  font-family: "Nunito Semi Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #4111e8;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 50px;
}

.medium {
  position: static;
  width: 66px;
  height: 25px;
  left: 121px;
  top: 0px;
  font-family: "Nunito Semi Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #2c2c2c;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 50px;
}

.dribbble {
  position: static;
  width: 60px;
  height: 25px;
  left: 237px;
  top: 0px;
  font-family: "Nunito Semi Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ff7dbd;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 50px;
}

.upwork {
  position: static;
  width: 65px;
  height: 25px;
  left: 347px;
  top: 0px;
  font-family: "Nunito Semi Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #00ac8b;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 50px;
}

.copyright-text {
  position: absolute;
  left: 75.85%;
  right: 3.33%;
  top: 51.65%;
  bottom: 20.88%;
  font-family: "Nunito Semi Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #2c2c2c;
}

@media screen and (min-device-width: 1440px) {
  .container {
    max-width: 100%;
    padding: 0 80px;
    margin: 100px 0;
  }

  .main-text {
    position: absolute;
    width: 859px;
    height: 472px;

    font-family: "Gilroy Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 49px;
    color: #bdbdbd;
  }

  .profilePhoto {
    position: absolute;
    width: 250px;
    height: 339px;
    left: 1091px;
    top: 200px;
  }

  .scrollBtn {
    position: absolute;
    width: 230px;
    height: 29px;
    left: 620px;
    top: 700px;
    font-family: "Gilroy Light", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #828282;
  }

  .scroll-btn {
    position: absolute;
    width: 201px;
    height: 29px;
    left: 634px;
    top: 700px;
    font-family: "Gilroy Light", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #828282;
  }

  .rectangle-projects {
    position: absolute;
    background: #f2f2f2;
    width: 100%;
    height: 450px;
    left: 0px;
    top: 786px;
    background-repeat: no-repeat;
  }

  .case-studies-text-projects {
    position: absolute;
    width: 239px;
    height: 178px;
    left: 135px;
    top: 892.03px;
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 89px;
    color: #4f4f4f;
  }

  .case-study-icon-2 {
    position: absolute;
    left: 75.8%;
    right: 7.8%;
    top: 30.18%;
    bottom: 59.87%;
    height: 286.0011291503906px;
    width: 236.15835571289062px;
    left: 1091.535888671875px;
    top: 867.99951171875px;
    border-radius: 0px;
  }

  .brand-identity {
    position: absolute;
    width: 276px;
    height: 276px;
    left: 135px;
    top: 1323px;
  }

  .brand-identity-text {
    position: absolute;
    width: 257px;
    height: 178px;
    left: 1070.69px;
    top: 1372px;
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 89px;
    text-align: right;
    color: #4f4f4f;
  }

  .rectangle-projects-2 {
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0px;
    top: 1686px;
    background: #f2f2f2;
    background-repeat: no-repeat;
  }

  .websites-text {
    position: absolute;
    width: 291px;
    height: 89px;
    left: 135px;
    top: 1866px;
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 89px;
    color: #4f4f4f;
  }

  .websites-icon {
    position: absolute;
    width: 287px;
    height: 286px;
    left: 1040.69px;
    top: 1767.5px;
  }

  .illustrations-icon {
    position: absolute;
    left: 9.34%;
    right: 70.8%;
    top: 77.12%;
    bottom: 12.93%;
    height: 286px;
    width: 286px;
    left: 134.46893310546875px;
    top: 2218px;
    border-radius: 0px;
  }

  .illustrations-text {
    position: absolute;
    width: 387px;
    height: 178px;
    left: 916px;
    top: 2296px;
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 89px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #4f4f4f;
  }

  .case-study-page-mobile-phone {
    position: absolute;
    width: 562px;
    height: 570px;
    left: 110.5px;
    top: 833.9px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  }

  .case-study-page-liberterra-logo {
    position: absolute;
    width: 343px;
    height: 94px;
    left: 986.5px;
    top: 923.9px;
  }

  .product-designer {
    position: absolute;
    width: 340px;
    height: 87px;
    left: 989.5px;
    top: 1041.9px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #2c2c2c;
  }

  .case-study-page-liberterra-text {
    position: absolute;
    width: 245px;
    height: 66px;
    left: 1090px;
    top: 1154px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #2c2c2c;
  }

  .case-study-page-liberterra-btn {
    position: absolute;
    width: 365px;
    height: 43px;
    left: 970.5px;
    top: 1244.9px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: right;
    color: #828282;
    text-decoration: underline dotted;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.15em;
  }

  .hollerena-rectangle {
    position: absolute;
    width: 100%;
    height: 596px;
    left: 0px;
    top: 1515.85px;
    background: #f2f2f2;
    background-repeat: no-repeat;
  }

  .case-studies-hollerena-logo {
    position: absolute;
    left: 2.01%;
    right: 68.89%;
    top: 65.04%;
    bottom: 25.99%;
    height: 212px;
    width: 419px;
    left: 29px;
    top: 1536.90234375px;
    border-radius: 0px;
  }

  .brand-product-designer {
    position: absolute;
    width: 409.78px;
    height: 87px;
    left: 123px;
    top: 1701.9px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #2c2c2c;
  }

  .case-study-page-hollerena-text {
    position: absolute;
    width: 380px;
    height: 66px;
    left: 123px;
    top: 1813.9px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #2c2c2c;
  }

  .case-study-page-btn {
    position: absolute;
    width: 365px;
    height: 43px;
    left: 103px;
    top: 1904.9px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #828282;
    text-decoration: underline dotted;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.15em;
  }

  .case-study-page-hollerena-laptop {
    position: absolute;
    left: 520px;
    top: 1517.9px;
  }

  .contactFooter {
    position: absolute;
    display: block;
    width: 100%;
    height: 91px;
    left: 0px;
    top: 520px;
  }
}
@media screen and (max-width: 925px) {
  .logo {
    display: block;
    padding-left: 50px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
    margin-top: 10px;
  }

  nav {
    width: 100%;
    height: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  }

  nav ul {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    top: 80px;
    left: -150%;
    text-align: center;
    transition: all 0.5s;
    z-index: 9999;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 80px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #2c2c2c;
  }

  #check:checked ~ ul {
    left: 0px;
  }

  /* .toggle ul {
    position: absolute;
    width: 82.81px;
    height: 28px;
    left: 275.19px;
    top: 186.72px;
  }

  .sun {
    position: absolute;
    width: 23.83px;
    height: 23.83px;
    left: 275.19px;
    top: -70px;
  } */

  .profilePhoto {
    position: absolute;
    width: 61.64px;
    height: 80px;
    left: 50px;
    top: 162.66px;
  }

  /* .btn-toggle {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 332.98px;
    top: 214.72px;
    transform: rotate(-180deg);
  }

  .moon {
    position: absolute;
    width: 19.06px;
    height: 19.06px;
    left: 338.94px;
    top: 190.89px;
  } */

  .main-text {
    position: absolute;
    width: 340px;
    height: 192px;
    left: 50px;
    top: 280.83px;
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    color: #bdbdbd;
  }

  .scrollBtn {
    position: absolute;
    width: 113px;
    height: 16.47px;
    left: 201px;
    top: 584.1px;
    font-family: "Gilroy Light", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #828282;
  }

  .liberterra-mobile {
    position: absolute;
    width: 202.99px;
    height: 205.88px;
    left: 156px;
    top: 671px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  }

  .liberterra-logo {
    position: absolute;
    width: 193.85px;
    height: 43px;
    left: 160px;
    top: 914px;
  }
  .liberterra-text {
    position: absolute;
    width: 202.72px;
    height: 42.59px;
    left: 160.65px;
    top: 977.56px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
    text-align: left;
  }

  .liberterra-text-2 {
    position: absolute;
    width: 279.86px;
    height: 33.16px;
    left: 110px;
    padding-left: 50px;
    top: 1026.16px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2c2c2c;
    text-align: left;
  }

  .liberterra-btn {
    position: absolute;
    width: 262.07px;
    height: 23.96px;
    left: 105px;
    top: 1065.32px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #2c2c2c;
    text-decoration: underline dotted;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.15em;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 503.77px;
    left: 0px;
    top: 1194px;
    background: #f2f2f2;
  }

  .sophie-screen {
    position: absolute;
    width: 262.88px;
    height: 220.39px;
    left: 126.06px;
    top: 1224.77px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  }

  .sophie-logo {
    position: absolute;
    width: 226.17px;
    height: 24.26px;
    left: 151.58px;
    top: 1473.97px;
  }

  .sophie-text {
    position: absolute;
    width: 202.72px;
    height: 42.59px;
    left: 151.58px;
    top: 1521.33px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
  }

  .sophie-text-2 {
    position: absolute;
    width: 179.86px;
    height: 33.16px;
    left: 151.58px;
    top: 1569.92px;
    font-family: "Gilroy", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2c2c2c;
  }

  .sophie-btn {
    position: absolute;
    width: 262.07px;
    height: 23.96px;
    left: 151.58px;
    top: 1609.08px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #2c2c2c;
    text-decoration: underline dotted;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.15em;
  }

  .hollerena-laptop {
    position: absolute;
    width: 321.87px;
    height: 205.88px;
    left: 96.56px;
    top: 1758.54px;
  }

  .hollerena-logo {
    position: absolute;
    left: 9.73%;
    right: 24.4%;
    top: 80.67%;
    bottom: 14.06%;
    height: 125px;
    width: 247px;
    left: 106.5px;
    top: 1966px;
    border-radius: 0px;
  }

  .hollerena-text {
    position: absolute;
    width: 202.72px;
    height: 42.59px;
    left: 161.83px;
    top: 2065.1px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
    text-align: left;
  }

  .hollerena-text-2 {
    position: absolute;
    width: 249.86px;
    height: 33.16px;
    left: 67.83px;
    top: 2113.69px;
    font-family: "Gilroy", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2c2c2c;
    text-align: left;
  }

  .hollerena-btn {
    position: absolute;
    width: 262.07px;
    height: 23.96px;
    left: 105.83px;
    top: 2152.85px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #2c2c2c;
    text-decoration: underline dotted;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.15em;
  }

  footer {
    position: absolute;
    display: block;
    width: 100%;
    height: 91px;
    left: 0px;
    margin-top: -485px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  }

  /* .footer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  } */

  .footer-text {
    position: absolute;
    left: 6.4%;
    right: 69.2%;
    top: 29.34%;
    bottom: 50.83%;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #2c2c2c;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    left: 4.4%;
    right: 50%;
    top: 54.13%;
    bottom: 26.03%;
  }

  .behance {
    position: static;
    width: 36px;
    height: 12px;
    left: 0px;
    top: 0px;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #4111e8;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 13px;
  }

  .medium {
    position: static;
    width: 33px;
    height: 12px;
    left: 49px;
    top: 0px;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #2c2c2c;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 13px;
  }

  .dribbble {
    position: static;
    width: 30px;
    height: 12px;
    left: 95px;
    top: 0px;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #ff7dbd;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 13px;
  }

  .upwork {
    position: static;
    width: 33px;
    height: 12px;
    left: 138px;
    top: 0px;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #00ac8b;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 13px;
  }

  .copyright-text {
    position: absolute;
    left: 21.06%;
    right: 2.68%;
    top: 54.13%;
    bottom: 26.03%;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    text-align: right;
    color: #2c2c2c;
  }
}
@media screen and (max-width: 479px) {
  .logo {
    position: absolute;
    left: -5.06%;
    right: 87.6%;
    top: 0%;
    bottom: 22.88%;
  }
  nav {
    width: 100%;
    height: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  }

  .profilePhoto {
    position: absolute;
    width: 61.64px;
    height: 80px;
    left: 30px;
    top: 162.66px;
  }
  .main-text {
    position: absolute;
    width: 300px;
    height: 152px;
    left: 30px;
    top: 280.83px;
    font-family: "Gilroy Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    color: #bdbdbd;
  }
  .scrollBtn {
    position: absolute;
    width: 113px;
    height: 16.47px;
    left: 150px;
    top: 564.1px;
    font-family: "Gilroy Light", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #828282;
  }
  .liberterra-mobile {
    position: absolute;
    width: 202.99px;
    height: 205.88px;
    left: 106px;
    top: 671px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  }

  .liberterra-logo {
    position: absolute;
    width: 193.85px;
    height: 43px;
    left: 110px;
    top: 914px;
  }

  .liberterra-text {
    position: absolute;
    width: 202.72px;
    height: 42.59px;
    left: 110.65px;
    top: 977.56px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
    text-align: left;
  }

  .liberterra-text-2 {
    position: absolute;
    width: 279.86px;
    height: 33.16px;
    left: 60px;
    padding-left: 50px;
    top: 1026.16px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2c2c2c;
    text-align: left;
  }

  .liberterra-btn {
    position: absolute;
    width: 262.07px;
    height: 23.96px;
    left: 55px;
    top: 1065.32px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #2c2c2c;
    text-decoration: underline dotted;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.15em;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 503.77px;
    left: 0px;
    top: 1194px;
    background: #f2f2f2;
  }

  .sophie-screen {
    position: absolute;
    width: 262.88px;
    height: 220.39px;
    left: 76px;
    top: 1224.77px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  }

  .sophie-logo {
    position: absolute;
    width: 226.17px;
    height: 24.26px;
    left: 101.58px;
    top: 1473.97px;
  }

  .sophie-text {
    position: absolute;
    width: 202.72px;
    height: 42.59px;
    left: 101.58px;
    top: 1521.33px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
  }

  .sophie-text-2 {
    position: absolute;
    width: 179.86px;
    height: 33.16px;
    left: 101.58px;
    top: 1569.92px;
    font-family: "Gilroy", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2c2c2c;
  }

  .sophie-btn {
    position: absolute;
    width: 262.07px;
    height: 23.96px;
    left: 101.58px;
    top: 1609.08px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #2c2c2c;
    text-decoration: underline dotted;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.15em;
  }
  /*
  .hollerena-laptop {
    position: absolute;
    width: 321.87px;
    height: 205.88px;
    left: 96.56px;
    top: 1758.54px;
  }

  .hollerena-logo {
    position: absolute;
    left: 9.73%;
    right: 24.4%;
    top: 80.67%;
    bottom: 14.06%;
    height: 125px;
    width: 247px;
    left: 106.5px;
    top: 1966px;
    border-radius: 0px;
  }

  .hollerena-text {
    position: absolute;
    width: 202.72px;
    height: 42.59px;
    left: 161.83px;
    top: 2065.1px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
    text-align: left;
  }

  .hollerena-text-2 {
    position: absolute;
    width: 249.86px;
    height: 33.16px;
    left: 67.83px;
    top: 2113.69px;
    font-family: "Gilroy", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2c2c2c;
    text-align: left;
  }

  .hollerena-btn {
    position: absolute;
    width: 262.07px;
    height: 23.96px;
    left: 105.83px;
    top: 2152.85px;
    font-family: "Gilroy Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #2c2c2c;
    text-decoration: underline dotted;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.15em;
  }

  footer {
    position: absolute;
    display: block;
    width: 100%;
    height: 91px;
    left: 0px;
    margin-top: -485px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  } */

  /* .footer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  } */

  /* .footer-text {
    position: absolute;
    left: 6.4%;
    right: 69.2%;
    top: 29.34%;
    bottom: 50.83%;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #2c2c2c;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    left: 4.4%;
    right: 50%;
    top: 54.13%;
    bottom: 26.03%;
  }

  .behance {
    position: static;
    width: 36px;
    height: 12px;
    left: 0px;
    top: 0px;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #4111e8;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 13px;
  }

  .medium {
    position: static;
    width: 33px;
    height: 12px;
    left: 49px;
    top: 0px;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #2c2c2c;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 13px;
  }

  .dribbble {
    position: static;
    width: 30px;
    height: 12px;
    left: 95px;
    top: 0px;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #ff7dbd;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 13px;
  }

  .upwork {
    position: static;
    width: 33px;
    height: 12px;
    left: 138px;
    top: 0px;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    color: #00ac8b;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 13px;
  }

  .copyright-text {
    position: absolute;
    left: 21.06%;
    right: 2.68%;
    top: 54.13%;
    bottom: 26.03%;
    font-family: "Nunito Semi Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    text-align: right;
    color: #2c2c2c;
  } */
}
